<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dongxi.rxdemo">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".global.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <activity android:name=".MainActivity"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".CardRecycleViewActivity"/>
        <!-- <activity android:name=".MainActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- &gt; -->
        <!-- </activity> -->
        <activity
            android:name=".coordinatorlayout.CollapsingToolbarActivity"
            android:theme="@style/MActivityTheme"/>
        <activity android:name=".BaseActivity"/>
        <activity android:name=".guide.WelcomeGuideActivity"/>
        <activity android:name=".guide.SplashActivity"/>
        <activity android:name=".update.DownLoadActivity"/>
        <activity android:name=".pinsenction.IndexActivity"/>

        <!-- 下载 -->
        <receiver android:name=".update.SystemDownLoadingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".db.gank_test.GankTestActivity"/>
        <activity android:name=".thumbup.ThumbUpActivity"/>
        <activity android:name=".cornerlableview.CornerLabelActivity"/>
        <activity android:name=".empety_recyclerview.EmptyRecyclerViewActivity"/>
        <activity android:name=".mulit_layout.MulitLayoutActivity"/>
        <activity android:name=".viewpager_gridview.ViewPagerGridViewActivity"/>
        <activity android:name=".kenburnview.KenBurnViewActivity"/>
        <activity android:name=".kotlin.KotlinTestActivity">
        </activity>
    </application>

</manifest>